.card {
    background-color: white;
    border-radius: 5px;
    border: thin solid $mainBlue;
    margin-bottom: 20px;

    @mixin atSmall {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
    }

    @mixin atMedium {
        width: 100%;
    }

    &__title {
        font-size: 0.9rem;
        color: $mainBlue;
        text-align: center;
        margin: 0;
        padding: 10px;

        @mixin atMedium {
            font-size: 1rem;
        }
    }

    &__text {
        font-size: 0.9rem;
        padding-left: 15px;
        padding-right: 15px;
        color: $mainBlue;
        line-height: 1.5rem;

        @mixin atMedium {
            font-size: 1rem;
        }
    }

    &__link {
        font-size: 1rem; 
        padding: 20px; 
        text-align: center;  
    }

    &__link--a {
        text-decoration: none;
        color: $mainBlue;
        font-weight: 300;
        background-color: white;
        padding: 15px;
        border-radius: 3px;
        border: 1px solid $mainBlue;
    }

    a:hover {
        color: $secondaryBlue;
        background-color: $mainBlue;
        border: 1px solid $mainBlue;
    }

}