.coordonnees {

    display: block;
    text-align: center;

    &__phone {
        font-size: 2rem;
        color: $mainBlue;
    }

    &__logo {
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }

}