.header {
  position: fixed;
  z-index: 2; 
  width: 100%;
  /*
  background-color: white; 
  */

  &__logo {
    background-color: white;
      &--img {
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
  }


  &__list {
    text-align: center;
    margin: 0 0;
    padding: 40px 0 40px 0;
    /*
    background-color: rgba($mainBlue, 1); 
    transition: background-color .3s ease-out;
     */

    @mixin atMedium {
      background-color: white;
      padding: 10px 0 30px 0;
    }
  }

  &__list > li {
    display: block;
    padding: 10px;
      @mixin atMedium {
        display: inline;
        padding: 10px;
      }
  }

  &__list--icone {
    display: inline;
  }

  &__list > li a {
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
    color: $mainBlue;

      @mixin atMedium {
        font-size: 1rem;
        color: $mainBlue;
      }
  }

  &__list > li a:hover {
    color: $secondaryBlue;
  }

  &__menu-icon {
    width: 20px;
    height: 20px;
    background-color: $mainBlue;
    position: absolute;
    top: 20px;
    right: 20px;

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-content {
    /*
    display: none;
    */
    
    opacity: 0;
    background-color: white;
    transition: opacity .5s ease-out;
    position: relative;
    z-index: -10;
    
    @mixin atMedium {
      opacity: 1;
      z-index: 1;
    }

    &--is-visible {
      opacity: 1;
      z-index: 1;

      /*
      display: block;
      /*
      transition: background-color .5s ease-out;
      background-color: red;
      */
    }

  }

  
  
}