.header {
  position: absolute; 
  width: 100%;

  &__logo {
    background-color: white;
      &--img {
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
  }

  &__nav {
    padding: 20px 0;
    background-color: $mainBlue;

    @mixin atMedium {
      background-color: white;
    }
  }

  &__list {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  &__list > li {
    display: block;
    padding: 10px;

    @mixin atMedium {
      display: inline;
      padding: 10px;
    }
  }

  &__list--icone {
    display: inline;
  }

  &__list > li a {
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    font-weight: 300;

    @mixin atMedium {
      font-size: 1rem;
      color: $mainBlue;
    }
  }

  &__list > li a:hover {
    color: $secondaryBlue;
  }

  &__menu-content {
    opacity: 0;
    transition: opacity .3s ease-out;
    position: relative;
    z-index: -10;  

    @mixin atMedium {
      opacity: 1;
      z-index: 1;
    }
    
    &--is-visible {
    opacity: 1;  
    z-index: 1;
    }
  }

  &__menu-icon {
    width: 20px;
    height: 20px;
    background-color: $mainBlue;
    position: absolute;
    top: 20px;
    right: 20px;

    @mixin atMedium {
      display: none;
    }
  }

  
}