.hero {


    &__title {
        font-weight: 800;
        color: $mainBlue;
        font-size: 1.2rem;
        margin-bottom: 10px;

    }

    &__subtitle {
        font-weight: 800;
        color: $mainBlue;
        font-size: 0.9rem;
        margin: 0;
    }

    &__description {
        color: $mainBlue;
        font-weight: 800;
        font-size: 0.9rem;
        line-height: 1.2rem;

    }
}