.hero {


    &__title {
        font-weight: 800;
        color: $mainBlue;
        font-size: 1.3rem;
        margin-bottom: 20px;
        margin-top: 20px;

        @mixin atSmall {
            font-size: 1.5rem;
        }
    }

    &__subtitle {
        font-weight: 800;
        color: $mainBlue;
        font-size: 1.1rem;
        margin-bottom: 20px;

        @mixin atSmall {
            font-size: 1.2rem;
        }
    }

    &__description {
        color: $mainBlue;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.3rem;

        @mixin atSmall {
            font-size: 1.1rem;
            line-height: 1.5rem;
        }
    }
}