.large-hero {
    position : relative;

    &__image {
        display: block;
    }

    &__text-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: left;
        background-color: rgba(255,255,255,0.3);
        border-radius: 5px; 

        @mixin atSmall {
            width: 50%;
        }

        @mixin atMedium {
            width: 40%;
        }

        @mixin atLarge {
            left: 100px;
        }

        
    }

    &__title {
        font-weight: 800;
        color: $mainBlue;
        font-size: 1.2rem;
        margin-bottom: 10px;

        @mixin atSmall {
            font-size: 1.2rem;
        }

        @mixin atLarge {
            font-size: 1.6rem;
        }
    }

    &__subtitle {
        font-weight: 800;
        color: $mainBlue;
        font-size: 0.9rem;
        margin: 0;

        @mixin atSmall {
            font-size: 1rem;
        }
    }

    &__description {
        color: $mainBlue;
        font-weight: 800;
        font-size: 0.9rem;
        line-height: 1.2rem;

        @mixin atSmall {
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.3rem;
        }

        @mixin atLarge {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
    }
}