.page-section {


    &--background-motif {
        background-image: url(assets/images/motif_hover.png);
    }

    &--background-color {
        background-color: #f7f7f7;
    }

    &__title {
        font-size: 1.1rem;
        font-weight: 300;
        text-align: center;

        width: 100%;
        background-color: $mainBlue;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        margin-top: 40px;
        padding: 20px 20px;
        color: white;
        border-radius: 5px;

        @mixin atSmall {
            width: 60%;
        }

        @mixin atMedium {
            font-size: 1.2rem; 
            margin-bottom: 50px;
            width: 33.33%;
        }

        @mixin atLarge {
            font-size: 1.3rem;
        }
    }


}