.page-section {
    padding: 1rem 0;
    /*background-color: #fafafa;*/
    /*background-color: red;*/

    @mixin atSmall {
        padding: 3rem 0;
    }

    &__title {
        font-size: 1.1rem;
        font-weight: 300;
        text-align: center;
        width: 100%;
        background-color: $mainBlue;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        padding: 20px 20px;
        color: white;
        border-radius: 5px;

        @mixin atSmall {
            font-size: 1.6rem;
            width: 60%;
        }

        @mixin atMedium {
            width: 40%;
            margin-bottom: 50px;
        }
    }
}