.primary-nav {

  &--pull-right {
    float: right;
    padding-top: 40px;
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
    
  }

  li {
    list-style: none;
    float: left;
    padding-right: 20px;
  }

  a {
    color: $mainBlue;
    font-weight: 300;
    text-decoration: none;
  }

}